{{ asset_add('scripts.js', 'anomaly.field_type.file::js/input.js') }}

<a
        data-toggle="modal"
        data-target="#{{ field_type.field }}-modal"
        class="btn btn-default btn-xs"
        href="{{ url(field_type.index_path) }}"
        >{{ trans('anomaly.field_type.file::button.select_file') }}</a>

<a
        data-toggle="modal"
        data-target="#{{ field_type.field }}-modal"
        href="{{ url(field_type.upload_path) }}"
        class="btn btn-success btn-xs"
        >{{ trans('anomaly.field_type.file::button.upload') }}</a>

<input
        type="hidden"
        name="{{ field_type.input_name }}"
        value="{{ field_type.value.id }}"
        {{ field_type.disabled ? 'disabled' }}
        {{ field_type.readonly ? 'readonly' }}>

<div class="selected">
    {{ field_type.value_table|raw }}
</div>

<div class="modal remote" id="{{ field_type.field }}-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-loading">
                <div class="active loader"></div>
            </div>
        </div>
    </div>
</div>