{{ asset_add('scripts.js', 'anomaly.field_type.file::js/input.js') }}

<div class="input-group">

    <span class="input-group-btn">
        <a
                href="{{ url('streams/file-field_type/files/' ~ field_type.input_name) }}"
                data-toggle="modal"
                data-target="#modal-large"
                class="btn btn-default"
                >{{ trans('anomaly.field_type.file::button.choose_file') }}</a>
    </span>

    <input
            type="hidden"
            name="{{ field_type.input_name }}"
            value="{{ field_type.value.id }}"
            {{ field_type.disabled ? 'disabled' }}
            {{ field_type.readonly ? 'readonly' }}>

    <input
            type="text"
            class="form-control"
            data-toggle="choose"
            name="{{ field_type.input_name }}_filename"
            value="{{ field_type.value.filename }}"
            placeholder="{{ trans(field_type.placeholder) }}"
            {{ field_type.disabled ? 'disabled' }}
            {{ field_type.readonly ? 'readonly' }}>

</div>
