{{ asset_add('scripts.js', 'anomaly.field_type.file::js/input.js') }}

<a
        data-toggle="modal"
        data-target="#modal"
        class="btn btn-default btn-xs"
        href="{{ url(field_type.index_path) }}"
        >{{ trans('anomaly.field_type.file::button.select_file') }}</a>

<a
        data-toggle="modal"
        data-target="#modal"
        href="{{ url(field_type.upload_path) }}"
        class="btn btn-success btn-xs"
        >{{ trans('anomaly.field_type.file::button.upload') }}</a>

<a
        target="_blank"
        href="{{ url('admin/files/view/' ~ field_type.value.id) }}"
        class="btn btn-info btn-xs {{ field_type.value.id ?: 'hidden' }}"
        >{{ trans('streams::button.view') }}</a>

<a
        target="_blank"
        href="{{ url('admin/files/edit/' ~ field_type.value.id) }}"
        class="btn btn-warning btn-xs {{ field_type.value.id ?: 'hidden' }}"
        >{{ trans('streams::button.edit') }}</a>

<a
        href="#"
        data-dismiss="file"
        class="btn btn-danger btn-xs {{ field_type.value.id ?: 'hidden' }}"
        >{{ trans('anomaly.field_type.file::button.remove') }}</a>

<input
        type="hidden"
        name="{{ field_type.input_name }}"
        value="{{ field_type.value.id }}"
        {{ field_type.disabled ? 'disabled' }}
        {{ field_type.readonly ? 'readonly' }}>

<div class="value">
    {% if field_type.value.id %}
        {{ view("anomaly.field_type.file::value", {'file': field_type.value}) }}
    {% endif %}
</div>