<div class="media">
    <div class="media-left">
        <a href="#">
            {{ file.preview|raw }}
        </a>
    </div>
    <div class="media-body">
        <h4 class="media-heading">
            {{ file.filename }}
            <br>
            <small>{{ file.folder.disk.slug }}://{{ file.folder.slug }}/{{ file.filename }}</small>
            <small>{{ file.keywords.labels|raw }}</small>
        </h4>
    </div>
</div>